@page "/generators/password"
@using global::Tools.Layouts
@layout MainLayout
@inherits BasePage

<PageTitle>@TitlePage</PageTitle>

<RadzenPanel>
    <RadzenStack Orientation="Orientation.Horizontal">
        <RadzenStack class="w-50">
            <div>
                <RadzenCheckBox @bind-Value=@_includeCapitalLetters Name="@(nameof(_includeCapitalLetters))" />
                <RadzenLabel Text="Incluir letras maiusculas" Component="@(nameof(_includeCapitalLetters))" Style="color: var(--rz-white)" />
            </div>
            <div>
                <RadzenCheckBox @bind-Value=@_includeCapitalLetters Name="@(nameof(_includeLowerCase))" />
                <RadzenLabel Text="Incluir letras minusculas" Component="@(nameof(_includeLowerCase))" Style="color: var(--rz-white)" />
            </div>
            <div>
                <RadzenCheckBox @bind-Value=@_includeCapitalLetters Name="@(nameof(_includeNumbers))" />
                <RadzenLabel Text="Incluir números" Component="@(nameof(_includeNumbers))" Style="color: var(--rz-white)" />
            </div>
@*             <div>
                <RadzenCheckBox @bind-Value=@_includeCapitalLetters Name="@(nameof(_includeEspecialCharacters))" />
                <RadzenLabel Text="Incluir caracteres especiais" Component="@(nameof(_includeEspecialCharacters))" Style="color: var(--rz-white)" />
            </div> *@

            <RadzenText Text="Quantidade de caracteres (1 a 50):" TextStyle="TextStyle.Subtitle1" class="mt-2" />
            <RadzenNumeric @bind-Value=@_passwordLength Min="1" Max="50" ShowUpDown="false" />
            <RadzenButton Text="Gerar" Click="OnClickButtonPassword" />
        </RadzenStack>
        <RadzenStack class="w-100">
            <RadzenTextArea @bind-Value=@_password class="h-100" />
        </RadzenStack>
    </RadzenStack>
</RadzenPanel>